{
  "SaveName": "封装版CPU",
  "WorldName": "封装版CPU",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1790487635,
  "TotalPlayTime": 8064,
  "UpdateTime": 0,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "E:\\MCLDownload\\Game\\m18898666499@163.com\\MCGame\\封装版CPU",
  "GUID": "MCGame-f9488439-bcac-453a-8914-c190ecb4e612",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4655358069394046295"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "aws": false,
      "Name": "仰望星空398",
      "CreatedTimeStamp": 1789096281,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 22,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": null,
  "item_ids": [],
  "Bundle": false,
  "Update_1_21": false,
  "TradeRebalance": false,
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}