{
  "ResPaths": [
    "C:\\Users\\philips\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_0a4142c2d35aaf505ad4e497f0beed1e_0",
    "C:\\Users\\philips\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_0a4142c2d35aaf505ad4e497f0beed1e_0"
  ],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}