{
  "ResPaths": [
    "C:\\Users\\philips\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_6d84a408342e162c51af94a3e4288dee_0",
    "C:\\Users\\philips\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_6d84a408342e162c51af94a3e4288dee_0"
  ],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}